<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>After School Activities</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">

    <script src="products.js"></script>

</head>
<body>
    <div id="app">
        <header class="bg-gray-400 p-7 flex items-center justify-between text-white">
            <button v-if="!Homepage" v-on:click="showCheckout" class="bg-red-500 text-white py-1 px-2 rounded-lg flex items-center hover:bg-gray-600 transition duration-300">
                <span class="mr-2"> {{ cartItemCount }} </span>
                <span class="fas fa-cart-plus">Checkout</span>
            </button>                
        </header>
        <main>
            <div v-if="Homepage" class="homepage">
                <h1>Welcome to MDX AfterSchool Activities</h1>
                <p>Fueling Fun, Fostering Growth: After-School Adventures Await!</p>
                <button @click="goToProductsPage">Start Browsing</button>
              </div>
            
              <div v-else-if="!Homepage && showProduct" class="products-page">
                <div class="search-sort">
                  <label for="search">Search:</label>
                  <input v-model="searchQuery" id="search" type="text" placeholder="Search for activities..." />
                  <label for="sort-by">Sort By:</label>
                  <select v-model="sortCriteria" id="sort-by">
                    <option value="title-asc">Title (A-Z)</option>
                    <option value="title-desc">Title (Z-A)</option>
                    <option value="location-asc">Location (A-Z)</option>
                    <option value="location-desc">Location (Z-A)</option>
                    <option value="price-asc">Price (Low to High)</option>
                    <option value="price-desc">Price (High to Low)</option>
                    <option value="Availability-asc">Availability (Low to High)</option>
                    <option value="Availability-desc">Availability (High to Low)</option>
                  </select>
                </div>
            
                <div class="product-list">
                  <div v-for="product in sortedProducts" :key="product.id" class="product-card">
                    <h2>{{ product.title }}</h2>
                    <figure>
                      <img :src="product.image" alt="Product Image" />
                    </figure>
                    <p>Location: {{ product.location }}</p>
                    <p>Price: {{ product.price }}</p>
                    <p>Availability: {{ product.Availability - cartCount(product.id) }}</p>
                    <button v-if="canAddToCart(product)" @click="addToCart(product)">Add to Cart</button>
                    <button v-else disabled>Add to Cart</button>
                    <span v-if="product.Availability === cartCount(product.id)">All out!</span>
                    <span v-else-if="product.Availability - cartCount(product.id) < 5">Only {{ product.Availability - cartCount(product.id) }} left!</span>
                    
                  </div>
                </div>
              </div>
            
              <div v-else-if="!Homepage && !showProduct" class="checkout-page">
                <h2>Checkout</h2>
            
                <div class="checkout-form">
                  <div>
                    <label for="first-name">First Name</label>
                    <input id="first-name" v-model.trim="order.firstName" type="text" @input="validateOrder" />
                    <span v-if="errors.firstName">{{ errors.firstName }}</span>
                  </div>
            
                  <div>
                    <label for="last-name">Last Name</label>
                    <input id="last-name" v-model="order.lastName" type="text" @input="validateOrder" />
                    <span v-if="errors.lastName">{{ errors.lastName }}</span>
                  </div>
            
                  <div>
                    <label for="contact">Contact #</label>
                    <input id="contact" v-model="order.contact" type="text" @input="validateOrder" />
                    <span v-if="errors.contact">{{ errors.contact }}</span>
                  </div>
                </div>
            
                <h2>Cart Items</h2>
                <div class="cart-items">
                  <div v-for="(item, index) in cart" :key="index" class="cart-item">
                    <img :src="item.image" alt="Product Image" />
                    <div>
                      <p>{{ item.title }}</p>
                      <p>{{ item.location }}</p>
                      <p>AED {{ item.price }}</p>
                      <button @click="removeFromCart(index)">Remove</button>
                    </div>
                  </div>
                </div>
            
                <h2>Order Information</h2>
                <div class="order-info">
                  <p><strong>First Name:</strong> {{ order.firstName }}</p>
                  <p><strong>Last Name:</strong> {{ order.lastName }}</p>
                  <p><strong>Contact:</strong> {{ order.contact }}</p>
                </div>
            
                <button @click="submitForm">Place Order</button>
              </div>
        </main>

    </div>
    <script type="text/javascript">
        var webstore = new Vue({
            el: '#app',
            data: {
                products: products,
                cart: [],
                showProduct: true,
                Homepage: true,           
                order: {
                    firstName: '',
                    lastName: '',
                    contact: '',
                },
                errors: {
                    firstName: '',
                    lastName: '',
                    contact: '',
                },
            
                sortCriteria: 'title-asc', // Default sort criterion
                searchQuery: ''
            },
            methods: {
                goToHomePage() {
                    this.Homepage = true;
                    this.showProduct = true;
                    this.cart = [];
                },
                goToProductsPage() {
                    this.Homepage = false;
                    this.showProduct = true;
                },
    
                addToCart(product) {
                    if (product.Availability > this.cartCount(product.id)) {
                        this.cart.push({ ...product });  // Add the product to the cart
                        let productInStore = this.products.find(p => p.id === product.id);
                        if (productInStore) {
                            productInStore.Availability--;  // Update the availability of the product in the store
                        }
                    }
                },
    
                showCheckout() {
                    if (this.cart.length === 0) {
                        alert("Your cart is empty. Add items to your cart");
                        return;
                    }
                    this.Homepage = false;
                    this.showProduct = false;
                },
    
                submitForm() {
                    alert('Order submitted!');
                },
    
                canAddToCart(product) {
                    return product.Availability > this.cartCount(product.id);
                },
    
                cartCount(id) {
                    return 0;
                },
                validateOrder() {
                        if (!this.order.firstName.trim()) {
                            this.errors.firstName = 'First Name is required.';
                        } else if (/[^a-zA-Z]/.test(this.order.firstName)) {
                            this.errors.firstName = 'Enter a valid First Name.';
                            this.order.firstName = this.order.firstName.replace(/[^a-zA-Z]/g, '');
                        } else {
                            this.errors.firstName = '';
                        }
                        if (!this.order.lastName.trim()) {
                            this.errors.lastName = 'Last Name is required.';
                        } else if (/[^a-zA-Z]/.test(this.order.lastName)) {
                            this.errors.lastName = 'Enter a valid Last Name.';
                            this.order.lastName = this.order.lastName.replace(/[^a-zA-Z]/g, '');
                        } else {
                            this.errors.lastName = '';
                        }
                            this.order.contact = this.order.contact.replace(/\D/g, ''); // Remove non-numeric characters
                        if (!this.order.contact) {
                            this.errors.contact = 'Contact number is required.';
                        } else if (this.order.contact.length < 10) {
                            this.errors.contact = 'Contact number must be at least 10 digits.';
                        } else {
                            this.errors.contact = '';
                        }
                    },

            },
            computed: {
                cartItemCount() {
                    return this.cart.length;
                },
                sortedProducts() {
                    let productsArray = this.products.slice(0);
                    if (this.sortCriteria === 'title-asc') {
                        return productsArray.sort((a, b) => a.title.localeCompare(b.title));
                    }
                    if (this.sortCriteria === 'title-desc') {
                        return productsArray.sort((a, b) => b.title.localeCompare(a.title));
                    }
                    if (this.sortCriteria === 'location-asc') {
                        return productsArray.sort((a, b) => a.location.localeCompare(b.location));
                    }
                    if (this.sortCriteria === 'location-desc') {
                        return productsArray.sort((a, b) => b.location.localeCompare(a.location));
                    }
                    if (this.sortCriteria === 'price-asc') {
                        return productsArray.sort((a, b) => a.price - b.price);
                    }
                    if (this.sortCriteria === 'price-desc') {
                        return productsArray.sort((a, b) => b.price - a.price);
                    }
                    if (this.sortCriteria === 'Availability-asc') {
                        return productsArray.sort((a, b) => a.Availability - b.Availability);
                    }
                    if (this.sortCriteria === 'Availability-desc') {
                        return productsArray.sort((a, b) => b.Availability - a.Availability);
                    }
                    return productsArray;
                }
            }
        });
    </script>
    
</body>
</html>